[submodule "audio-to-image-utils"]
	path = audio-to-image-utils
	url = git@github.com:Sounds-Designed/audio-to-image-utils.git
[submodule "nuxt-inkthreadable"]
	path = nuxt-inkthreadable
	url = git@github.com:Sounds-Designed/nuxt-inkthreadable.git
[submodule "nuxt-shipping-rates"]
	path = nuxt-shipping-rates
	url = git@github.com:Sounds-Designed/nuxt-shipping-rates.git
[submodule "nuxt-waveform-image-generator"]
	path = nuxt-waveform-image-generator
	url = git@github.com:Sounds-Designed/nuxt-waveform-image-generator.git
