[submodule "audio-to-image-utils"]
	path = audio-to-image-utils
	url = git@github.com:Sounds-Designed/audio-to-image-utils.git
[submodule "nuxt-inkthreadable"]
	path = nuxt-inkthreadable
	url = git@github.com:Sounds-Designed/nuxt-inkthreadable.git
[submodule "nuxt-shipping-rates"]
	path = nuxt-shipping-rates
	url = git@github.com:Sounds-Designed/nuxt-shipping-rates.git
[submodule "nuxt-waveform-image-generator"]
	path = nuxt-waveform-image-generator
	url = git@github.com:Sounds-Designed/nuxt-waveform-image-generator.git
[submodule "nuxt-audio-utils"]
	path = nuxt-audio-utils
	url = git@github.com:Sounds-Designed/nuxt-audio-utils.git
[submodule "audio-utils"]
	path = audio-utils
	url = git@github.com:Sounds-Designed/audio-utils.git
[submodule "nuxt-ui-gradient-picker"]
	path = nuxt-ui-gradient-picker
	url = git@github.com:Sounds-Designed/nuxt-ui-gradient-picker.git
[submodule "nuxt-knob"]
	path = nuxt-knob
	url = git@github.com:Sounds-Designed/nuxt-knob.git
[submodule "knob-heads"]
	path = knob-heads
	url = git@github.com:Sounds-Designed/knob-heads.git
[submodule "nuxt-dials"]
	path = nuxt-dials
	url = git@github.com:Sounds-Designed/nuxt-dials.git
